body {
    background-color: #12131c;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #71769F;
}

code {
    color: #ffffff;
}

input.form-control {
    background-color: #fff !important;
}

section.login div.left-half {
    background-color: #1d1e2c;
}

section.login .card {
    border: 0;
}

section.login label {
    color: #fff;
}

section.start div.main-card p {
    color: #fff;
}

section.start div.main-card li {
    margin-top: 6px;
    color: #fff;
}

nav.navbar {
    background-color: #1d1e2c;
}

div.card {
    background-color: #2B2D42;
}

.table {
    color: #fff !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    color: #fff !important;
}

.table-hover > tbody > tr:hover > * {
    color: #fff !important;
    background-color: #1d1e2c;
}

.btn-outline-primary {
    border-color: #fff;
    color: #fff;
}

.btn-outline-dark {
    border-color: #8D99AE;
    color: #8D99AE;
}

.btn-outline-dark:hover {
    border-color: #8D99AE;
    color: #8D99AE;
}

.alert-success {
    background-color: #174f35;
    border-color: #0c281b;
    color: #fff;
}

.alert-danger a {
    color: #000;
}

ol.breadcrumb {
    color: #aaa;
}

ol.breadcrumb a {
    color: #8D99AE;
}

i.inline-help {
    color: #8D99AE;
}

div.modal-dialog div.modal-content {
    background-color: #2B2D42;
}

div.modal-dialog div.modal-content button.modal-close {
    background-color: #2B2D42;
    color: #fff;
}

table tr.table-span-heading td {
    --bs-table-accent-bg: #2B2D42 !important;
    border-bottom: 1px solid #fff;
}

p.help-text {
    color: #c7c7c7;
}

button.btn-text {
    color: #fff;
    text-decoration: underline;
}

button.btn-text:hover {
    background-color: transparent;
    color: #71769F;
}

button.btn-text:focus {
    background-color: transparent;
    color: #71769F;
}

span.highlighted {
    background-color: #ffff9a;
    color: #000;
}

a.highlighted {
    color: #000;
}

span.highlighted a {
    color: #000;
}

span.highlighted i {
    color: #fff !important;
}

div.context-overlay {
    background-color: #2B2D42;
    box-shadow: 0 0 8px 3px #12131c;
    border-color: #12131c;
}

span.context-name {
    color: #000;
    background-color: #ffff9a;
}

i.additional-context-available {
    color: #71769F;
}

div.rendered-markdown pre {
    background-color: #40435e;
}

button.card-title-option {
    color: #fff;
}

button.card-title-option:hover {
    color: #71769F;
}

button.accordion-button:not(.collapsed) {
    background-color: #40435e;
    color: #fff;
}

button.accordion-button {
    background-color: #313349;
    color: #fff;
}

div.accordion-item h2 {
    background-color: #12131c;
}

div.accordion-item {
    background-color: #2B2D42;
}

.sticky-head-table thead th { background-color: #2B2D42; }

a span.port {
    color: #71769F;
}

span.fi-none {
    background-color: #71769F;
}