.idea
*.iml
nzyme*.conf
dependency-reduced-pom.xml
/plugin/
/crypto/
/crypto_test/
/retro/
/data/
/tmp/

.DS_Store
hs_err_*.log

logs/
target/
/banditfile
/anonfile

web-interface/node
web-interface/build

openssl.cnf
*.pem

src/main/resources/git.properties
