body {
    background-color: #0c0d16;
    color: #fff;
    font-family: 'Inconsolata', monospace;
}

#logo {
    height: 20px;
}

div.section {
    border: 1px solid #606060;
    padding-bottom: 12px;
}

div.section-header {
    margin-bottom: -12px;
}

div.section-header h2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: -12px;
    display: inline;
    background-color: #0c0d16;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

div.section-indicator-container {
    width: 327px;
    margin: auto;
}

div.indicator {
    text-align: center;
    float: left;
    height: 45px;
}

div.indicator-md {
    width: 109px;
}

div.indicator-lg {
    width: 218px;
}

div.indicator-header {
    text-transform: uppercase;
}

div.indicator-value {
    font-weight: 700;
}

div.indicator-value span {
    padding-left: 3px;
    padding-right: 3px;
}

.indicator-color-green {
    background-color: #17b06b !important;
    color: #000;
}

.indicator-color-red {
    background-color: #ff3c5c !important;
    color: #000;
}

.indicator-color-yellow {
    background-color: #f97515 !important;
    color: #000;
}

.indicator-color-inactive {
    background-color: #32334a !important;
    color: #fff;
}

.chart {
    text-align: center;
    width: 328px;
}

span#prop-bandit-signal {
    font-weight: 700;
}