body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background-color: #e5e5e5;
}
.container-fluid {
    max-width: 98%;
}

#nav-side {
    background-color: #fff;
}

#nav-side ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

#nav-side li {
    width: 100%;
}

#nav-side a.nav-link {
    margin: 0;
    padding: 0;
    color: #212529;
    display: block;
    width: 100%;
}

#nav-side .fa-icon {
    color: #212529;
}

#nav-side span.nav-icon {
    margin-right: 18px;
}

#nav-side li.nav-item {
    padding-top: 9px;
    padding-bottom: 9px;
}

#nav-side .nav-link {
    display: inline;
}

#nav-side li ul.nav-submenu {
    margin-top: 18px;
    margin-left: 18px !important;
}

#nav-side ul li .notification-count {
    position: relative;
    top: -2px;
}

#footer {
    color: #aaa;
}

#footer a {
    color: #d38910;
    text-decoration: none;
}

#footer a:hover {
    color: #0067ff;
}

a {
    color: #FCA311;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

dt {
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-dark {
    background-color: #14213D !important;
}