body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    background-color: #edf2f4;
}

code {
    color: #212529;
}

h5 {
    font-size: 13px;
    font-weight: bold;
}

small {
    color: #6c757d;
}

.bg-danger {
    background-color: #EF233C !important;
}

.text-warning {
    color: #ff6a00 !important;
}

.text-bold {
    font-weight: 600;
}

.strikethrough {
    text-decoration: line-through;
}

#root, body, html {
    height: 100%;
}

div.nzyme {
    width: 100%;
    min-height: 100vh;
}

div.content {
    padding: 24px 24px 12px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

img.loading-miller {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.loading-miller-layer2 {
    animation: blinker 1s linear infinite;
}

.badge {
    position: relative;
    top: -2px;
}

.navbar {
    background-color: #fff;
    padding: 8px 12px;
}

.tap-selector {
    margin-left: 3px;
}

div.tap-selector button.tap-selector-select {
    display: block;
    width: 100%;
}

div.tap-selector li.tap-selector-actions {
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

div.tap-selector ul {
    background-color: #2b2d42;
    color: #fff;
    font-size: 13px;
}

div.tap-selector ul a.active {
    color: #fff;
    background-color: #4d505e;
}

div.tap-selector ul li a:hover {
    color: #fff;
    background-color: #4d505e;
}

div.tap-selector ul li a:focus {
    color: #fff;
    background-color: #2b2d42;
}

div.tap-selector ul li a.active:focus {
    color: #fff;
    background-color: #4d505e;
}


div.tap-selector ul li a {
    color: #fff;
    padding-top: 7px;
    padding-bottom: 5px;
}

#nav-side {
    background-color: #2b2d42;
    width: 230px;
}

#nav-side p.brand {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-bottom: 0;
}

#nav-side p.brand a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

#nav-side p.brand-subtitle {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

#nav-side ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

#nav-side li {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-side a.nav-link {
    margin: 0;
    padding: 0;
    color: #8D99AE;
    display: block;
    width: 100%;
}

#nav-side a.nav-link-active {
    color: #fff;
}

#nav-side a.nav-link-active:hover {
    color: #fff !important;
}

#nav-side a.nav-link:hover {
    color: #c9c9c9;
}

#nav-side span.nav-icon {
    margin-right: 18px;
}

#nav-side li.nav-item {
    padding-top: 9px;
    padding-bottom: 9px;
}

#nav-side li.nav-item-submenu {
    padding-left: 0;
    padding-right: 0;
}

#nav-side li.nav-item-submenu a.submenu-headline {
    padding-left: 20px;
    padding-right: 25px;
}

#nav-side li.nav-item-submenu ul.nav-submenu {
    margin-top: 8px;
}

#nav-side li.nav-item-submenu ul.nav-submenu li.nav-item {
    margin-left: -4px;
}

#nav-side li.nav-item-submenu ul.nav-submenu li.nav-item a {
    padding-left: 13px;
}

#nav-side li.nav-item-submenu ul.nav-submenu li.nav-item a.nav-link-active {
    margin-left: -3px;
}

#nav-side li.nav-item-active {
    background-color: #343642;
    border-left: 3px solid #8D99AE;
}

#nav-side .nav-link {
    display: inline;
}

#nav-side ul li .notification-count {
    position: relative;
    top: -2px;
}

#nav-side .user-profile {
    margin-bottom: 16px;
    padding-left: 18px;
    height: 40px;
    color: #fff;
    width: 210px;
}

#nav-side .user-profile .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #ccc;
}

#nav-side .user-profile a {
    color: #8D99AE;
    text-decoration: none;
}

#nav-side .user-profile a:hover {
    color: #fff;
}

#nav-side .user-profile i.settings-icon {
    font-size: 10px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

#nav-side i.sidebar-icon {
    width: 13px;
}

#nav-side i.fa-bluetooth {
    position: relative;
    left: 1px;
}

#footer {
    color: #aaa;
}

#footer a {
    text-decoration: none;
}

a {
    color: #0E42B0;
}

a:hover {
    color: #144FD7;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 13px;
}

h4 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 13px;
}

dt {
    font-size: 13px;
    text-transform: uppercase;
}

pre.json {
    padding: 10px 10px 10px 15px;
    border-left: 2px dotted #ccc;
}

div.widget-loading-spinner {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.main-help {
    margin-left: 3px;
    margin-right: 3px;
}

p.help-text {
    color: #757575;
}

div.tap-secret input {
    font-family: 'Share Tech Mono', monospace;
    padding-top: 30px !important;
}

ol.breadcrumb a {
    text-decoration: none;
}

ol.breadcrumb li.active {
    font-weight: 600;
}

div.card div.card-number div.value {
    font-size: 32px;
    margin-top: 8px;
}

div.card div.card-number div.value-loading {
    text-align: center;
}

dl.retro-servicesummary-topmetrics dt {
    float: left;
}

dl.retro-servicesummary-topmetrics dd {
    margin-left: 150px;
}

i.inline-help {
    font-size: 13px;
    color: #7d7d7d;
}

div.configuration-dialog a.configuration-help {
    text-decoration: none !important;
}

div.configuration-dialog button.configuration-submit {
    width: 130px;
}

div.configuration-dialog button.configuration-submitted {
    width: 100%;
}

div.bg-threatlevelmidnight {
    background-color: #ffa600;
    background-image: repeating-linear-gradient(120deg, transparent, transparent 25px, #000 25px, #000 50px);
    border: 0;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

div.bg-threatlevelmidnight div.text-overlay {
    background-color: #000;
    padding: 12px;
}

div.bg-threatlevelmidnight div.text-overlay div.form-switch {
    margin-top: 12px;
}

.collapsing {
    transition: none !important;
}

label.form-check-label {
   padding-top: 2px;
}

div.form-switch label.form-check-label {
    padding-top: 0px !important;
}

div.node-metrics-gauge-summary {
    text-align: center;
}

div.node-process-arguments .btn-link {
    padding: 0;
    font-size: 13px;
}

table tr.table-span-heading td {
    text-align: center;
    font-style: italic;
    --bs-table-accent-bg: #fff !important;
    border-bottom: 1px solid #000;
}

div.health-console div.hc-row {
    clear: both;
}

div.health-console div.hc-row div.hc-indicator {
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    width: 15%;
    padding: 6px 6px 3px;
    margin: 5px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

div.health-console div.hc-row div.hc-green {
    background-color: #367E18;
    border: 1px solid #1E460E;
}

div.health-console div.hc-row div.hc-orange {
    background-color: #F57328;
    border: 1px solid #A14E1D;
}

div.health-console div.hc-row div.hc-red {
    background-color: #CC3636;
    border: 1px solid #802424;
}

div.health-console div.hc-row div.hc-invalid {
    background-color: #707070;
    border: 1px solid #000000;
}

div.health-console div.hc-row div.hc-disabled {
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    color: #9f9f9f;
}

div.health-consequence {
    font-family: 'Share Tech Mono', monospace;
    border: 1px dashed #ccc;
    padding: 10px;
    margin-bottom: 8px;
}

div.health-consequence h4 {
    display: inline-block;
    font-size: 16px;
    padding: 6px 8px 4px;
    font-weight: normal;
}

div.health-consequence h4 span.health-consequence-indicator {
    text-transform: uppercase;
}

div.health-consequence h4.health-consequence-orange {
    background-color: #F57328;
    border: 1px solid #A14E1D;
    color: #fff;
}

div.health-consequence h4.health-consequence-red {
    background-color: #CC3636;
    border: 1px solid #802424;
    color: #fff;
}

div.health-consequence div.health-consequence-left {
    width: 50%;
    float: left;
}

div.health-consequence div.health-consequence-right {
    width: 50%;
    padding-left: 12px;
    float: left;
}

div.health-consequence div.health-consequence-consequence {
    margin-top: 8px;
}

div.health-consequence div.health-consequence-consequence ul {
    margin-top: 8px;
    margin-bottom: 0;
}

div.health-consequence div.health-consequence-range {
    margin-top: 8px;
}

div.health-consequence div.health-consequence-range ul {
    margin-top: 8px;
    margin-bottom: 0;
}

div.health-consequence div.health-consequence-solutions ol.consequence-solution-procedure {
    margin-top: 8px;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

div.health-consequence div.health-consequence-solutions ol.consequence-solution-procedure li {
    margin-top: 2px;
}

div.health-consequence div.health-consequence-solutions ol.consequence-solution-procedure ol li.consequence-solution-or {
    margin-left: 10px;
}

div.health-consequence div.health-consequence-solutions ol.consequence-solution-procedure span.consequence-solution-conditional {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

div.health-consequence div.health-consequence-solutions ol.consequence-solution-procedure ol {
    list-style-type: none;
}

div.health-consequence div.health-consequence-solutions ol.consequence-solution-procedure span.consequence-solution-counter {
    text-decoration: underline;
}

div.health-consequence div.health-consequence-solutions ol.consequence-solution-procedure span.consequence-solution-secondary-indicator {
    background-color: #000;
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    text-transform: uppercase;
}

div.health-consequence div.health-consequence-solutions ol.consequence-solution-procedure code {
    background-color: #E3E3E3;
    color: #FF4D4C;
    font-size: 13px;
    padding-left: 3px;
    padding-right: 3px;
}

button.btn-text {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #0E42B0;
    font-size: 13px;
    text-decoration: underline;
}

button.btn-text:hover {
    background-color: transparent;
    color: #144FD7;
}

dl.tls-cert-failures {
    margin-bottom: 0;
}

dl.tls-cert-failures dt {
    float: left;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-transform: none;
}

dl.tls-cert-failures dd {
    padding: 0;
    margin: 0 0 0 70px;
}

dl dl {
    margin-top: 9px;
    margin-left: 9px;
    margin-bottom: 0;
}

div.tls-cert-success dt {
    text-transform: none;
}

button.tls-cert-install {
    width: 100%;
}

code.codeblock {
    background-color: #eaeaea;
    display: block;
    padding: 5px 5px 5px 8px;
}

ul.mfa-recovery-codes {
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form.totp-validation {
    margin-left: 2px;
}

form.totp-validation input {
    -moz-appearance:textfield;
    width: 45px;
    font-size: 24px !important;
    margin-left: 12px;
    text-align: center;
}

form.totp-validation input::-webkit-outer-spin-button,
form.totp-validation input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form.totp-validation input::placeholder {
    color: #c0c0c0;
    opacity: 1;
}

form.totp-validation input::-ms-input-placeholder,
form.totp-validation input::-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: #c0c0c0;
}

svg.totp-qr {
    display: block;
    margin: auto;
}

span.flag-inline {
    height: 11px;
    width: 15px;
}

span.fi-none {
    background-color: #ccc;
}

i.signal-strength-good {
    color: #198754;
}

i.signal-strength-ok {
    color: #fd7e14;
}

i.signal-strength-bad {
    color: #dc3545;
}

span.hidden-ssid {
    color: #c0c0c0;
}

span.main-active-channel {
    border-bottom: 2px solid #000;
}

div.timerange-selector {
    margin-top: 5px;
    font-size: 13px;
}

div.timerange-selector div.accordion-item button.accordion-button {
    font-size: 14px;
    font-weight: 600;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 8px;
}

div.timerange-selector div.accordion-item i.accordion-icon {
    font-size: 12px;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

div.timerange-selector div.accordion-item div.accordion-body h3 {
    font-size: 14px;
}

div.timerange-selector ul {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

div.timerange-selector ul li {
    margin-top: 2px;
    margin-bottom: 2px;
}

div.timerange-selector ul li a {
    text-decoration: none;
}

div.timerange-selector label {
    font-weight: 800;
    margin-bottom: 3px;
}

div.card-alerted {
    box-shadow: 0 0 7px 1px #EF233C;
}

.blink {
    animation: blinker 1s linear infinite;
}

.btn-disabled {
    cursor: not-allowed;
}

textarea.histogram-data-export {
    width: 100%;
    height: 150px;
    font-family: 'B612 Mono', monospace;
    font-size: 12px;
}

span.mac-address-icon-container {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 3px;
}

a.mac-address, span.mac-address {
    font-family: 'B612 Mono', monospace;
    font-size: 12px;
}

span.mac-address-oui {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
}

i.mac-address-randomized {
    margin-left: 4px;
    color: #707070;
}

a.asn-number, span.asn-number {
    font-family: 'B612 Mono', monospace;
    font-size: 12px;
}

a.ip-address, span.ip-address,
a.hostname, span.hostname,
a.ssh-session-key, span.ssh-session-key,
a.socks-tunnel-id, span.socks-tunnel-id {
    font-family: 'B612 Mono', monospace;
    font-size: 12px;
}

span.port {
    font-family: 'B612 Mono', monospace;
    font-size: 12px;
}

a span.port {
    color: #0e42b099;
}

select.monitored-network-selector {
    width: 400px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.highlighted {
    background-color: #ffff9a;
}

ul.selected-org-tenant {
    list-style-type: none;
    padding: 0;
    margin: 0 0 13px;
}

ul.selected-org-tenant li {
    display: inline-block;
    margin-right: 8px;
}

ul.selected-org-tenant span {
    font-weight: 800;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

div.context-overlay {
    position: relative;
    top: -16px;
    left: -2px;
    height: 195px;
    width: 300px;
    margin-top: -195px;
    margin-right: -300px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 8px 3px #c5c5c5;
    animation: fadeIn 0.5s;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
}

div.context-overlay img.loading-miller {
    opacity: 0.3;
    margin-top: 3px;
    width: 150px;
}

div.context-overlay img.loading-miller-layer2 {
    opacity: 0.3;
    animation: blinker 1s linear infinite;
}

div.context-overlay h6 {
    font-size: 13px;
    display: block;
    font-family: 'B612 Mono', monospace;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-weight: 700;
}

div.context-overlay p.context-description {
    margin-bottom: 8px;
    font-size: 13px;
}

div.context-overlay dl {
    font-size: 12px;
    margin-bottom: 12px;
}

div.context-overlay dt {
    font-size: 12px;
    float: left;
    font-weight: 600;
    text-transform: none;
}

div.context-overlay dd {
    margin-left: 90px;
    margin-bottom: 1px;
}

div.context-overlay-no-context-controls {
    margin-top: 30px;
}

span.context-name {
    font-family: 'B612 Mono', monospace;
    background-color: #fdff32;
}

div.context-overlay h6 span.context-name {
    display: inline-block;
    float: right;
}

div.context-overlay i.context-owner-information {
    cursor: help;
    position: relative;
    left: 35px;
    top: 5px;
}

i.additional-context-available {
    margin-left: 5px;
    color: #707070;
}

div.rendered-markdown h1 {
    font-size: 28px;
    text-transform: none;
    margin-bottom: 10px;
}

div.rendered-markdown h2 {
    font-size: 24px;
    text-transform: none;
    margin-bottom: 10px;
}

div.rendered-markdown h3 {
    font-size: 22px;
    text-transform: none;
    margin-bottom: 10px;
}

div.rendered-markdown h4 {
    font-size: 20px;
    text-transform: none;
    margin-bottom: 10px;
}

div.rendered-markdown h5 {
    font-size: 18px;
    text-transform: none;
    margin-bottom: 10px;
}

div.rendered-markdown h6 {
    font-size: 16px;
    text-transform: none;
    margin-bottom: 10px;
}

div.rendered-markdown pre {
    padding: 5px;
    padding-left: 8px;
    background-color: #dadada;
}

img.leaflet-marker-draggable {
    cursor: move;
}

span.floorplan-tooltip-title {
    font-size: 13px;
    font-weight: bold;
    display: block;
    border-bottom: 1px dotted #000;
    margin-bottom: 8px;
    padding-bottom: 2px;
}

.leaflet-control-messagebox {
    border: 1px solid #6c757d !important;
    color: #6c757d !important;
    background-color: #fff !important;
}

div.floorplan-floor-selector {
    border: 1px dashed #ccc;
    padding: 12px;
}

div.card-title h3 {
    margin-bottom: 8px;
}

div.card-title hr {
    margin-top: 8px;
    margin-bottom: 20px;
    color: #6c757d;
}

button.card-title-option {
    padding: 0;
    margin: 0;
    padding-right: 7px;
}


button.card-title-option-disabled {
    cursor: not-allowed;
}

a.card-title-option {
    color: #000;
    font-size: 15px;
    padding-right: 7px;
}

span.applied-timerange {
    color: #969fa6;
}

i.applied-timerange-icon {
    font-size: 11px;
}

td.channel-width-band {
    font-weight: 700;
    vertical-align: middle;
}

i.channel-width-na {
    color: #969fa6;
}

i.channel-width-supported {
    color: #198754;
}

i.channel-width-unsupported {
    color: #dc3545;
}

.sticky-head-table          { overflow: auto; height: 100px; }
.sticky-head-table thead th { position: sticky; top: 0; z-index: 1; background-color: #f8f9fa; }

div.filters {
    max-width: 700px;
}

i.filter-value {
    margin-left: 5px;
    cursor: pointer;
}

ul.applied-filters, ul.applied-filters ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.applied-filters {
    border-left: 1px solid #969fa6;
    padding-left: 8px;
}

ul.applied-filters span.applied-filter-value {
    font-style: italic;
}

ul.applied-filters span.applied-filter-connector {
    font-size: 14px;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 600;
    padding-left: 3px;
    padding-right: 3px;
}

ul.applied-filters a.applied-filter-remove {
    cursor: pointer;
    position: relative;
    top: 1px;
}

div.filters-modal div.modal-dialog {
    max-width: 800px !important;
}

div.connect-status {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

div.connect-status div.connect-status-summary {
    font-size: 26px;
    font-weight: bold;
}

div.connect-status-ok {
    color: #fff;
    background-color: #198754;
}

div.connect-status-disabled {
    color: #000;
    background-color: #969fa6;
}

div.connect-status-fail {
    color: #fff;
    background-color: #dc3545;
}

div.connect-status-pending {
    color: #fff;
    background-color: #F57328;
}

div.dropdown-headline ul.dropdown-menu {
    font-size: 18px;
}