hr {
    background-color: #444
}

div.overview-statistic p {
    font-weight: 600;
}

div.overview-statistic span {
    font-size: 26px;
}

a.navbar-brand {
    color: #fff;
    border-bottom: 1px dashed #444;
}

h2 em {
    color: #999999;
    font-style: normal;
}

#footer a {
    color: #0a4862;
}

#footer a:hover {
    text-decoration: none;
    color: #0b5573;
}