body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    background-color: #edf2f4;
}

.bg-danger {
    background-color: #EF233C !important;
}

#root, body, html {
    height: 100%;
}

section.start div.left-half {
    background-color: #2B2D42;
    border-radius: 1rem 0 0 1rem;
}

section.start div.main-card {
    border-radius: 1rem;
    height: 435px;
    color: #fff !important;
}

section.start div.main-card li {
    margin-top: 6px;
}

section.start div.left-half img#logo {
    width: 350px;
    margin-top: 30px;
}

section.start label {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 3px;
    font-weight: 600;
}

div.nzyme {
    width: 100%;
    height: 100%;
}

div.content {
    padding: 24px 24px 12px;
}

.navbar {
    background-color: #fff;
    padding: 8px 12px;
}

#nav-side {
    background-color: #2b2d42;
    width: 230px;
}

#nav-side p.brand {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#nav-side p.brand a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

#nav-side ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

#nav-side li {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-side a.nav-link {
    margin: 0;
    padding: 0;
    color: #8D99AE;
    display: block;
    width: 100%;
}

#nav-side a.nav-link-active {
    color: #fff;
}

#nav-side a.nav-link-active:hover {
    color: #fff !important;
}

#nav-side a.nav-link:hover {
    color: #c9c9c9;
}

#nav-side span.nav-icon {
    margin-right: 18px;
}

#nav-side li.nav-item {
    padding-top: 9px;
    padding-bottom: 9px;
}

#nav-side li.nav-item-submenu {
    padding-left: 0;
    padding-right: 0;
}

#nav-side li.nav-item-submenu a.submenu-headline {
    padding-left: 20px;
    padding-right: 25px;
}

#nav-side li.nav-item-submenu ul.nav-submenu {
    margin-top: 8px;
}

#nav-side li.nav-item-submenu ul.nav-submenu li.nav-item {
    margin-left: -4px;
}

#nav-side li.nav-item-submenu ul.nav-submenu li.nav-item a {
    padding-left: 13px;
}

#nav-side li.nav-item-submenu ul.nav-submenu li.nav-item a.nav-link-active {
    margin-left: -3px;
}

#nav-side li.nav-item-active {
    background-color: #343642;
    border-left: 3px solid #8D99AE;
}

#nav-side .nav-link {
    display: inline;
}

#nav-side ul li .notification-count {
    position: relative;
    top: -2px;
}

#nav-side .user-profile {
    margin-bottom: 16px;
    padding-left: 18px;
    height: 40px;
    color: #fff;
    width: 210px;
}

#nav-side .user-profile .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #ccc;
}

#nav-side .user-profile a {
    color: #8D99AE;
    text-decoration: none;
}


#nav-side .user-profile a:hover {
    color: #fff;
}

#nav-side .user-profile i.settings-icon {
    font-size: 10px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

#footer {
    color: #aaa;
}

#footer a {
    color: #d91c3e;
    text-decoration: none;
}

#footer a:hover {
    color: #0067ff;
}

a {
    color: #D90429;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 13px;
}

dt {
    font-size: 13px;
    text-transform: uppercase;
}

a.main-help {
    margin-left: 3px;
    margin-right: 3px;
}

p.help-text {
    width: 66%;
}

div.tap-secret input {
    font-family: 'Share Tech Mono', monospace;
}