Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: nzyme LLC <hello@nzyme.org>
Depends: openjdk-17-jre-headless | java17-runtime