Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: Lennart Koopmann <lennart@0x58ed.com>
Depends: openjdk-17-jre-headless | java17-runtime