[general]
leader_secret = "your_key_copied_from_nzyme_web_interface"
leader_uri = "https://nzyme.example.org:22900/"
accept_insecure_certs = false

[ethernet_interfaces.enp6s0]
active = true
networks = [
  { cidr = "192.168.0.0/24", dns_servers = [ "192.168.0.1:53" ], injection_interface = "enp6s0" }
]

[wifi_interfaces.wlx00c0ca000000]
active = true
channel_width_hopping_mode = "full" # Learn more: https://go.nzyme.org/wifi-hopping-channel-width-mode
channels_2g = [1, 6, 11]
channels_5g = [100, 102, 104, 106, 108, 110, 112, 136, 138, 140, 149, 151, 153, 155, 157, 159, 161, 165]
channels_6g = []

[wifi_interfaces.wlx00c0ca000001]
active = true
channel_width_hopping_mode = "full" # Learn more: https://go.nzyme.org/wifi-hopping-channel-width-mode
channels_2g = [2, 3, 4, 5, 7, 8, 9, 10, 12, 13]
channels_5g = [36, 40, 44, 48, 52, 56, 60, 64, 173]
channels_6g = [5, 9, 13, 17, 21, 25, 29, 109, 113, 153, 157, 161, 165, 169, 173, 177, 181, 185, 189, 229, 233]

[bluetooth_interfaces.hci0]
active = true
bt_classic_enabled = true
bt_le_enabled = true
discovery_period_seconds = 15
dbus_method_call_timeout_seconds = 2

[performance]
ethernet_brokers = 1
wifi_brokers = 1
wifi_broker_buffer_capacity = 65535
ethernet_broker_buffer_capacity = 65535
bluetooth_devices_pipeline_size = 1024
shared_protocol_processors = 2

[protocols.wifi]
pipeline_size = 16384
processors = 1

[protocols.tcp]
pipeline_size = 65535
processors = 3
reassembly_buffer_size = 1048576
session_timeout_seconds = 43200

[protocols.udp]
pipeline_size = 65535
processors = 3

[protocols.dns]
pipeline_size = 4096
entropy_zscore_threshold = 3.0

[protocols.ssh]
pipeline_size = 1024

[protocols.socks]
pipeline_size = 1024

[protocols.arp]
pipeline_size = 1024
poisoning_monitor = true
poisoning_window_seconds = 30

[protocols.dhcpv4]
pipeline_size = 1024

[protocols.uav_remote_id]
pipeline_size = 1024

[misc]
training_period_minutes = 5
context_mac_ip_retention_hours = 36 
context_mac_hostname_retention_hours = 36