[general]
leader_secret = "your_key_copied_from_nzyme_web_interface"
leader_uri = "https://nzyme.example.org:22900/"
accept_insecure_certs = false

[ethernet]
ethernet_listen_interfaces = [ "eth0" ]

[wifi]
wifi_listen_interfaces = [ "wlan0" ]

[performance]
ethernet_brokers = 1
wifi_brokers = 1

[misc]
training_period_minutes = 5